<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12 d-flex justify-content-end">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image url</label>
            <input
              formControlName="imagePath"
              #imagePath
              type="text"
              id="imagePath"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="">
            <img [src]="imagePath.value" class="img-fluid" alt="" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">description</label>
            <textarea
              formControlName="description"
              rows="6"
              type="text"
              id="description"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row mt-2"
            *ngFor="let item of controls; let i = index"
            [formGroupName]="i"
          >
            <ng-select
              [items]="ingredientsList"
              bindLabel="name"
              bindValue="name"
              formControlName="name"
              [(ngModel)]="selectedCar"
            >
            </ng-select>
{{selectedCar | json}}
            <div class="col-2">
              <input
                type="number"
                formControlName="amount"
                class="form-control"
              />
            </div>
            <div class="col-2">
              <button
                type="button"
                (click)="onDelete(i)"
                class="btn btn-danger"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

