<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" height="400px" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div ngbDropdown class="btn-group">
      <a ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        >Manage Recipe
        <span class="caret"></span>
      </a>
      <ul ngbDropdownMenu class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            (click)="onAddToShoppingList()"
            style="cursor: pointer"
          >
            To shopping list</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/', 'recipes', recipe.id, 'edit']"
            class="dropdown-item"
            style="cursor: pointer"
          >
            Edit Recipe</a
          >
        </li>
        <li>
          <a class="dropdown-item" style="cursor: pointer"> Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        class="list-group-item list-group-item-action"
        *ngFor="let ing of recipe.ingredients"
      >
        {{ ing.name }} ({{ ing.amount }})
      </li>
    </ul>
  </div>
</div>
