

  <a

  [routerLink]="['/recipes', recipe.uuid]"
  class="list-group mt-1"
  style="text-decoration: none; cursor: pointer"
>
<div class="cards">
  <a class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <div class="">
        <h5 class="mb-4">{{ recipe.name }}</h5>
        <p class="mb-1">{{ recipe.description }}</p>
      </div>
      <img
        [src]="recipe.imagePath"
        alt=""
        class="img-responsive "
        style="max-height: 80px"
      />
    </div>
  </a>
</div>
</a>


