<div class="row">
  <div class="col-12">
    <div class="btn btn-success">
      <button class="btn btn-success">New Recipe</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
   
    <a class="list-group">
      <a href="#"   *ngFor="let recipe of recipes" class="list-group-item list-group-item-action  " aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">  {{recipe.name}} </h5>
          <img   [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 80px">


        </div>
        <p class="mb-1"> {{recipe.description}}</p>

      </a>


    </a>
    <app-recipe-item></app-recipe-item>

  </div>
</div>
