
<div class="row">
  <div class="col-12">
    <form [formGroup]="form" (ngSubmit)="onAddItem()"  >
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" class="form-control"
          name = "name"

          required

          >
        </div>
        <div class="col-2 form-group" >
          <label for="amount">Amount</label>
          <input formControlName="amount"  type="number" id="amout" class="form-control"
name="amount"

required
pattern="^[1-9]+[0-9]*$"
          >
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button type="submit" class="btn btn-success"  >{{ editedMode? 'edit' : 'Add' }}</button>
          <button
          *ngIf="editedMode"
          type="button" class="btn btn-danger ms-2" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary ms-2" (click)="onClear()">Clear</button>


        </div>
      </div>
    </form>
  </div>
</div>
 
